.header-link{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #404148;
    overflow: hidden;
    }

.header-link a{

    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    text-align: right;
    margin: 0;
    
}

.header-link li{
    float: right
}

.header-link a:hover{
    color: #4CA996;
}